<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson03.mapper.ReviewMapper"><!-- 어느 인터페이스와 연결 -->
 
 	<select id="selectReview" parameterType="int" resultType="com.example.lesson03.domain.Review">
 	<!-- id=인터페이스 메소드, resultType=하나에 대한 타입의 경로
 	parameter=requestParam의 타입 -->
 		SELECT
 			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_review`
		WHERE
			`id` = #{id}
			<!-- #{} 내에는 requestParam의 값이 들어간다. -->
 	</select>
 	
 	<insert id="insertReview" parameterType="com.example.lesson03.domain.Review">
 	<!-- paramType: Review객체의 주소값. resultType: X -->
 		INSERT INTO `new_review`
 		(
	 		`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<insert id="insertReviewAsField" parameterType="map">
 		INSERT INTO `new_review`
 		(
	 		`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 			, NOW()
 			, NOW()
 		) 	
 	</insert>
 	
 	<update id="updateReviewById" parameterType="map">
 		UPDATE `new_review`
 		SET
 			`review` = #{review}
 			, `updatedAt` = NOW() <!-- update에서는 꼭 업데이트 시간 고쳐야 한다. -->
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteReviewById" parameterType="int">
 		DELETE
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id} <!-- 한개밖에 param이 없을 때는 대충 ddddd 로 넣어도 잘 읽기는 함 -->
 	</delete>
 </mapper>